body {
    overflow-x: hidden;
}

main {
    position: absolute;
    top: -8rem;
}


/* --> HERO SECTION <-- */

#hero-area {
    height: calc(100vh + 8rem);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#background {
    background-image: url('./../assets/ds1-hero-logo-1000px.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100vw;
    height: calc(100vh + 8rem);
    z-index: -1;
    filter: brightness(.1);
    position: absolute;
}

#hero-title, #changed-number {
    color: var(--color-white);
    z-index: 1;
    font-size: 10rem;
    position: absolute;
    line-height: 10rem;
    font-family: 'Protest Guerrilla', sans-serif;
}

#hero-nav {
    align-self: flex-end;
    margin-bottom: 2rem;
    font-size: var(--p2);
}

#hero-nav-area {
    color: var(--color-white);
    display: flex;
    align-items: center;
    gap: 2rem;
}

.hero-nav-option {
    font-size: var(--p1);
    cursor: pointer;
}

.hero-nav-line {
    height: 1rem;
    width: 2px;
    background-color: var(--color-white);
    display: block;
}


/* --> MILL SECTION <-- */

#mill-section {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10rem 0;
}

#mill-text-area {
    width: 600px;
    height: 100%;
    margin: 0 5rem;
}

#mill-title, #reference-title {
    font-size: var(--h2);
    margin-bottom: 3rem;
}

#reference-title {
    color: var(--color-violet);
    font-family: 'Lucida Sans', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.mill-text {
    font-size: var(--p1);
    text-indent: 3rem;
    text-align: justify;
    margin-bottom: .5rem;
}

#mill-image-area {
    margin: 0 5rem;
}

#mill-image {
    max-width: 800px;
    border: 3px solid var(--color-violet);
    border-radius: .5rem .5rem 0 0;
}

#mill-image-caption {
    background-color: var(--color-violet);
    height: 2rem;
    margin-top: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
}